{% extends "adding.html" %}
  {% block title %}
    Добавление задачи
  {% endblock %}
  {% block form %}
    <form name="form" method="post" id="form_id" action="{% url 'saveoption' oid=opt.id %}">
      {% csrf_token %}
      <div class="wrapper container">
        <header></header>
        <div class="content">
          <p>
            <b>Название параметра:</b>
            <textarea name="optionname" id="optitle" class="textarea">{{ opt.Title }}</textarea>
          </p>
            <div class="form-group">
              <label>Наименование задачи:</label>
              <select name="taskid" class="form-control" id="sel1">
                <option value="{{ opt.Task.id }}">{{ opt.Task.Title }}</option>
              </select>
            </div>
        </div>
        <div class="input">
          <button type="button" class="btn btn-success" onclick="run();">Сохранить</button>
          <a href="{% url 'option' %}" class="btn btn-info" role="button">Отменить</a>
        </div>
      </div>
    </form>
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript">
    function run(){
        if (!$("#optitle").val() || $("#sel1").val() == 0) {
            alert("Не все поля заполнены!")
        }
        else{
          $("#form_id").submit();
        }
    }
    </script>
  {% endblock %}