{% extends "base.html" %}
  {% block title %}
    Редактор БД
  {% endblock %}
  {% block content %}
        <p>Добро пожаловать! Для того, чтобы просмотреть/изменить содержимое таблиц, нажмите на соответствующую ссылку.</p>
        <p><b>Tasks</b> - таблица задач,</p>
        <p><b>Machines</b> - таблица доступных машин,</p>
        <p><b>Options</b> - таблица параметров,</p>
        <p><b>Launches</b> - таблица запусков,</p>
        <p><b>Launch Options</b> - таблица параметров запуска.</p>
        <p>Для работы с функцией прогнозирования времени работы приложения перейдите по ссылке <b>"Forecasting Function"</b></p>
        <p>{{ STATIC_URL }}</p>
  {% endblock %}