{% extends "base.html" %}
  {% block title %}
    Таблица Launch
  {% endblock %}
  {% block content %}
    <form name="form" method="post" id="form_id" action="">
      {% csrf_token %}
      <p>
        <a href="{% url 'addlaunch' %}" class="btn btn-success" role="button">Добавить</a>
        <button type="button" class="btn btn-info" onclick="checkedit();">Редактировать</button>
        <button type="button" class="btn btn-danger" onclick="checkdel();">Удалить</button>
      </p>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th> </th>
            <th>Номер запуска (ID)</th>
            <th>Дата запуска (Date)</th>
            <th>Время выполнения задачи (Run Time)</th>
            <th>Объем выходных данных (Data Size)</th>
            <th>Наименование задачи (Task)</th>
            <th>Номер машины (Machine_id)</th>
          </tr>
        </thead>
        <tbody>
          {% if launches %}
            {% for lau in launches %}
              <tr>
                <td><input type="checkbox" id="check{{ forloop.counter }}" name="check" value="{{ lau.id }}"></td>
                <td>{{ lau.id }}</td>
                <td>{{ lau.Date }}</td>
                <td>{{ lau.RunTime }}</td>
                <td>{{ lau.DataSize }}</td>
                <td>
                  {% for task in tasks %}
                    {% if task.id == lau.Task_id %}
                      {{ task.Title }}
                    {% endif %}
                    {% if not forloop.last %} {% endif %}
                  {% endfor %}
                </td>
                <td>{{ lau.Machine_id }}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </form>
    <!--script src="/static/js/jquery.min.js"></script-->
    <script type="text/javascript">
    function checkdel(){
        var flag = false;
        for (var i = 1; i <= {{ launches|length }}; i++) {
          if(document.getElementById("check" + i).checked){
            flag = true;
            break;
          }
        }
        if (flag == false){
            alert("Не выбраны кортежи для удаления!")
        }
        else{
          $("#form_id").attr('action', "{% url 'deletelaunch' %}");
          $("#form_id").submit();
        }
    }
    function checkedit(){
        var flag = false;
        var counter = 0;
        for (var i = 1; i <= {{ launches|length }}; i++) {
          if(document.getElementById("check" + i).checked){
            flag = true;
            counter++;
          }
        }
        if (flag == false){
          alert("Не выбраны кортежи для редактирования!")
        }
        else if (counter > 1){
          alert("Выбрано более одного кортежа. Для редактирования допустимо выделение только одного кортежа.");
        }
        else{
          $("#form_id").attr('action', "{% url 'editlaunch' %}");
          $("#form_id").submit();
        }
    }
    </script>
  {% endblock %}